page-login {
    .bg-image {
        background-image: url('../assets/imgs/bg1.png');
    }

    .vertical-align-content > *
    {
         display: flex!important;
         align-content: center!important;
         align-items: center!important;
    }

    .login-button {
        margin-bottom: 5em;
    }
}
